/* EventList.css */

.divider-line {
    width: 100%;
    height: 2px;
    background-color: #b4b1b1; /* o el color que desees */
    margin-bottom: 10px; /* ajusta el margen según tus preferencias */
  }
  
 
  
  